
.contenido {
    background-color: #f1f2f7;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 16px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 50px 2fr;
}

.contenido .titulo {
    grid-row: 1/2;
    justify-self: center;
    align-items: center;
    color: black;
}

.contenido .buscar{
    grid-row: 2/3;
    color: black;
}

.contenido .buscar p {
    float: right;
}

table, td, th {
    background-color: white;
    grid-row: 3/4;
    padding: 0 3px;
    height: 35px;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    scroll-behavior: auto;
}

th {
    text-align: center;
}

table tr td button {
    width: 100%;
}