.home {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.productos {
    grid-row: 1/2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.ventas {
    grid-row: 2/3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    width: 400px;
    height: 200px;
}

.card-title {
    display: flex;
    justify-content: center;
}

.card-text {
    display: flex;
    font-size: 3vw;
    justify-content: center;
}
