html,
body {
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    background-color: #69d2e7;
}
.contenedor {
    border-radius: 5px;

    margin: 100px auto 0 auto;
    width: 500px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-areas:
        "titulo    "
        "bienvenida"
        "formulario"
        "footer    ";
    grid-template-rows: 80px 80px auto 60px;
    grid-template-columns: 80%;
    background-color: #ffffff;
    justify-content: center;
}

.titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida {
    grid-area: bienvenida;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    grid-area: formulario;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.formulario input {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: none;
    padding: 16px;
    background-color: #f2f2f2;
    font-size: larger;
}

.formulario button {
    background-color: #f38630;
    color: white;
    height: 40px;
    width: 200px;
    font-size: larger;
    border: 0px;
    border-radius: 3px;
}

.footer-login {
    grid-area: footer;
    justify-self: right;
}

.footer-login a {
    text-decoration-line: none;
}
