.contenido-ventas {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 16px;
}

.formulario {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.formularioCliente {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.formularioCliente .inputFull {
    grid-column: 1/3;
}

.formularioProducto {
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto 7% auto auto 7% 7% auto auto;
    text-align: center;
}

.formularioProducto input {
    text-align: center;
}

.formularioProducto .agregarDetalle {
    display: flex;
    justify-content: flex-end;
}

.formularioTotales {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.formularioTotales .totales {
    grid-column: 1/2;
}

.btnFacturar {
    display: flex;
    grid-row: 3/4;
    grid-column: 3/4;
}

.btnFacturar input {
    width: 100%;
}

.btnAnular {
    display: flex;
    grid-row: 3/4;
    grid-column: 5/6;
}

.btnAnular button {
    width: 100%;
}
